table {
	border-collapse: separate; background-color: #FCEE9E; border: 3px solid #990033; caption-side: bottom;
}
td { border:1px solid #CC9933; margin: 3px; padding: 3px; vertical-align: top; background: #FEFDCF; color: #000;
}
thead th {
	background: #903; color:#fefdcf; text-align: left; font-weight: bold; padding: 3px;border: 1px solid #990033;
}
th {border:1px solid #CC9933; padding: 3px;
}
tbody th:hover {background-color: #fefdcf;
}
th a:link, th a:visited {
	color:#903; font-weight: normal; text-decoration: none; border-bottom:1px dotted #c93;
}
caption {
	background: #903; color:#fcee9e; padding: 4px 0; text-align: center; width: 40%; font-weight: bold;
}
tbody td a:link {color: #903;}
tbody td a:visited {color:#633;}
tbody td a:hover {color:#000; text-decoration: none;
}

