<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>witrapp.en.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>witrapp.enlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>witrapp.ru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>witrapp.rulite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>321EA83914A02920002D5D23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C5120214C6601F00151879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C5123E14C6876F00151879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C5126A14C688B600151879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C5129414C6899C00151879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
